.page-content {
  height: 100%;
  background: #fff !important;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo-holder {
  margin: 0;
  display: flex;
  width: 30vw;
  height: 20vh;
  background-image: url(/assets/imgs/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

h4 {
  color: #263674;
  font-size: 1.5rem;
  margin: 25px 0;
  font-weight: bold !important;
}

.bootom-div {
  padding: 10px 0px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #263674;
  display: flex;
  align-items: center;
  justify-content: center;
}


.green_add {
  background-image: url(/assets/icon/green_add.png);
}
.green_calendar {
  background-image: url(/assets/icon/green_calendar.png);
}
.green_delete {
  background-image: url(/assets/icon/green_delete.png);
}
.green_extend {
  background-image: url(/assets/icon/green_extend.png);
}
.green_release {
  background-image: url(/assets/icon/green_release.png);
}
.green_spotbook {
  background-image: url(/assets/icon/green_spotbook.png);
}
.orange_add {
  background-image: url(/assets/icon/orange_add.png);
}
.orange_calendar {
  background-image: url(/assets/icon/orange_calendar.png);
}
.orange_delete {
  background-image: url(/assets/icon/orange_delete.png);
}
.orange_extend {
  background-image: url(/assets/icon/orange_extend.png);
}
.orange_release {
  background-image: url(/assets/icon/orange_release.png);
}
.orange_spotbook {
  background-image: url(/assets/icon/orange_spotbook.png);
}
.red_add {
  background-image: url(/assets/icon/red_add.png);
}
.red_calendar {
  background-image: url(/assets/icon/red_calendar.png);
}
.red_delete {
  background-image: url(/assets/icon/red_delete.png);
}
.red_extend {
  background-image: url(/assets/icon/red_extend.png);
}
.red_release {
  background-image: url(/assets/icon/red_release.png);
}
.red_spotbook {
  background-image: url(/assets/icon/red_spotbook.png);
}
.grey_extend {
  background-image: url(/assets/icon/grey_extend.png);
}
.grey_release {
  background-image: url(/assets/icon/grey_release.png);
}
.grey_spotbook {
  background-image: url(/assets/icon/grey_spotbook.png);
}
#available_ul,#occupied_ul,#pending_ul{
  visibility: hidden;
  width: 0;
  height: 0;
}