<ion-content padding>
  <div class="page-content">
    <div class="top-div">
      <div class="logo-holder"></div>
      <div class="content-holder">
        <h4 class="text-center">SMART ROOM SCHEDULING</h4>
      </div>
    </div>
    <div class="bootom-div">
      Copyright &#169; 2021. EMSOL Automation Pvt Ltd
    </div>
  </div>
  <ul id="available_ul">
    <li>
      <button class="menu-item grey_release"></button>
    </li>
    <li>
      <button class="menu-item grey_extend"></button>
    </li>
    <li>
      <button class="menu-item green_calendar"></button>
    </li>
    <li>
      <button class="menu-item green_add"></button>
    </li>
    <li>
      <button class="menu-item green_delete"></button>
    </li>
    <li>
      <button class="menu-item green_spotbook"></button>
    </li>
  </ul>
  <ul id="occupied_ul">
    <li>
      <button class="menu-item red_release"></button>
    </li>
    <li>
      <button class="menu-item red_extend"></button>
    </li>
    <li>
      <button class="menu-item red_calendar"></button>
    </li>
    <li>
      <button class="menu-item red_add"></button>
    </li>
    <li>
      <button class="menu-item red_delete"></button>
    </li>
    <li><button class="menu-item grey_spotbook"></button></li>
  </ul>
  <ul id="pending_ul">
    <li>
      <button class="menu-item grey_release"></button>
    </li>
    <li>
      <button class="menu-item grey_extend"></button>
    </li>
    <li>
      <button class="menu-item orange_calendar"></button>
    </li>
    <li>
      <button class="menu-item orange_add"></button>
    </li>
    <li>
      <button class="menu-item orange_delete"></button>
    </li>
    <li><button class="menu-item grey_spotbook"></button></li>
  </ul>
</ion-content>
