<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back-outline" class="back-icon-btn"></ion-icon>
    </ion-buttons>
    <ion-title>Reset Admin Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="mainForm">
      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input
          formControlName="current_password"
          type="password"
          required
        ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.current_password"
        >
          <div
            class="error-message"
            *ngIf="mainForm.get('current_password').hasError(validation.type) && (mainForm.get('current_password').dirty || mainForm.get('current_password').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input formControlName="new_password" type="password" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.new_password"
        >
          <div
            class="error-message"
            *ngIf="mainForm.get('new_password').hasError(validation.type) && (mainForm.get('new_password').dirty || mainForm.get('new_password').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input formControlName="confirm_password" type="password" required>
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container
          *ngFor="let validation of validation_messages.confirm_password"
        >
          <div
            class="error-message"
            *ngIf="mainForm.get('confirm_password').hasError(validation.type) && (mainForm.get('confirm_password').dirty || mainForm.get('confirm_password').touched)"
          >
            {{ validation.message }}
          </div>

          <div
            class="error-message"
            *ngIf="!mainForm.get('confirm_password').errors && mainForm.hasError('passwordNotMatch') && (mainForm.get('confirm_password').dirty || mainForm.get('confirm_password').touched)"
          >
            Passwords does not match
          </div>
        </ng-container>
      </div>

      <ion-row>
        <ion-col>
          <ion-button
            color="primary"
            expand="block"
            class="ion-activatable ripple-parent submit-btn"
            [disabled]="!mainForm.valid"
            (click)="changePassword()"
          >
            Reset
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
