ion-icon {
  margin: 0 10px;
}
ion-list ion-item ion-label h6,
ion-list ion-item ion-label h5,
ion-list ion-item ion-label p {
  font-size: 1.6rem !important;
  line-height: 1.8rem !important;
}
.delete-icon {
  color: red;
  font-size: 1.6rem;
}
.edit-icon {
  color: #263674;
  font-size: 1.6rem;
}
