<ion-content padding>
  <div class="page-content">
    <div class="logo-holder"></div>
    <div class="content-holder">
      <qrcode
        [qrdata]="device_uuid"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
      <p class="text-center">
        Enter the device activation code to get started.
      </p>
      <ion-item class="text-input">
        <ion-input
          class="text-center"
          [(ngModel)]="device_otp"
          type="text"
          (ionChange)="onKeyupOTP()"
          placeholder="Activation Code"
        ></ion-input>
      </ion-item>
      <div class="terms-div">
        <div class="terms-link">
          By entering device activation code, you agree to our
          <a (click)="openWithInAppBrowser('http://emsolautomation.com/terms/')"
            >Terms and Conditions</a
          >
          &amp;
          <a
            (click)="openWithInAppBrowser('http://emsolautomation.com/privacy/')"
            >Privacy Policy</a
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
