<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="goPage('dashboard')">
      <ion-icon name="arrow-back-outline" class="back-icon-btn"></ion-icon>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <!-- <ion-buttons slot="end" (click)="openSettingsMenu()">
      <ion-button>
        <ion-icon name="settings-outline" class="add-icon-btn"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" (click)="goPage('change-password')">
        <h6>Change Admin Password</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" (click)="goPage('department')">
        <h6>Add Department</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" (click)="changeRoomName()">
        <h6>Change Room Name</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary" (click)="changeLogo()">
        <h6>Change Logo</h6>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Page Timeout Duration</ion-label>
      <ion-select
        (click)="openPopupWindow()"
        color="primary"
        placeholder="Select"
        value="{{page_timeout}}"
        (ionChange)="onSelectChange($event)"
      >
        <ion-select-option value="15000">15 seconds</ion-select-option>
        <ion-select-option value="30000">30 seconds</ion-select-option>
        <ion-select-option value="45000">45 seconds</ion-select-option>
        <ion-select-option value="60000">60 seconds</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" (click)="openSettingsMenu()">
        <h6>Device Settings</h6>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
